$red: #DF2727;
$pink: #FB5A5A;

@font-face {
  font-family: 'Benton Sans';
  src: url('fonts/BentonSans-Medium.eot');
  src: local("☺"), url('fonts/BentonSans-Medium.woff') format("woff"), url('fonts/BentonSans-Medium.ttf') format("truetype"), url('fonts/BentonSans-Medium.svg') format("svg");
  font-weight:bold;
  font-style: normal;
}
@font-face {
  font-family: 'Benton Sans';
  src: url('fonts/BentonSans-Light.eot');
  src: local('☺'), url('fonts/BentonSans-Light.woff') format('woff'), url('fonts/BentonSans-Light.ttf') format('truetype'), url('fonts/BentonSans-Light.svg') format('svg');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'Proxima Nova';
  src: url('fonts/ProximaNova-Bold.eot');
  src: local('☺'), url('fonts/ProximaNova-Bold.woff') format('woff'), url('fonts/ProximaNova-Bold.ttf') format('truetype'), url('fonts/ProximaNova-Bold.svg') format('svg');
  font-weight: bold;
  font-style: normal;
}

.hide {
  display:none;
}
html {
  height: 100%;
  background: #FFF;
}

body {
  height: 100%;
  background: #FFF;
  font-family: 'BentonSans', Helvetica, sans-serif;
  font-weight: 300;
  -webkit-font-smoothing: antialiased;
}

.chromeframe {
  background:#000;
  color:white;
  a {
    color:white;
    text-decoration: underline
  }
  padding:50px;
  font-size:15px;
  margin-bottom:0
}

#wrap {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -160px;
}

#push {
  height: 160px;
}

footer {
  padding-top: 40px;
  height: 120px;
}

header {
  background: #FFF;
  padding: 25px 0;
  .top-menu {
    text-align: right;
    margin:18px 0 0 0;
    padding:0;
    li {
      display:inline-block;
      margin-right:50px;
      &:last-child {
        margin-right:0;
      }
      a {
        color:#323232;
        font:bold 25px 'Proxima Nova';
        &:hover {
          color:$pink;
          text-decoration:none;
        }
      }
    }
  }
}

.carousel {
  background-color:#DDD;
  margin-bottom:0;
  padding-bottom:70px;
  h2 {
    margin-top:50px;
    font-size:54px;
    font-weight:300;
    line-height:65px;
  }
  .download-button {
    display:block;
    width:400px;
    height:103px;
    background:url(../img/download-button.png) no-repeat;
    background-size:cover;
    margin-top:40px;
  }
}

.features {
  background:#F3F3F3;
  padding:50px 0 35px 0;
  text-align:center;
  .feature-icon {
    margin:0 auto;
    width:170px;
    height:170px;
    border-radius:50px;
    background:#CCC;
  }
  h3 {
    font-size:20px;
    margin-bottom: 0;
  }
  p {
    padding:0 20px;
    font-size:13px;
  }
}

.line {
  height:10px;
  background:$red;
  position:relative;
  .arrow {
    width: 0; 
    height: 0; 
    border-left: 13px solid transparent;
    border-right: 13px solid transparent;
    border-top: 13px solid $red;
    top:9px;
    left:50%;
    margin-left:-13px;
    position:absolute;
  }
}

footer {
  background: $red;
  .location {
    display:block;
    background:url(../img/icon-location.png) no-repeat top left;
    background-size: 41px 55px;
    padding:17px 0 0 55px;
    color: white;
    font-family: 'Open Sans';
    font-weight:300;
    font-size:40px;
    height:55px;
    margin-top:-2px;
  }
  .socials {
    text-align: right;
    a {
      background: #EEE;
      display: inline-block;
      margin-left: 30px;
      width: 46px;
      height: 46px;
      border-radius: 7px;
      background-size:cover;
      transition:.2s;
      &:hover {

        background-color:$red
      }
    }
  }
}

.logo {
  display: block;
  float: left;
  width: 220px;
  background: url(../img/logo@2x.png) no-repeat center center;
  background-size:cover;
  height: 60px;
}

@media (max-width: 767px) {
  
}

@media (min-width:480px) {

}

@media (max-width: 479px) {
  
}