// carousel.scss

.carousel {
  background-color:#000;
  margin-bottom:0;
  position:relative;

  .movie {
    margin-bottom:-3px;
    text-align:center;
    video {
      width:100%;
      max-width:1170px;
      max-height:400px;
      margin:0 auto;
    }
  }

  h2 {
    font-size:54px;
    font-weight:300;
    line-height:67px;
    color:#FFF;
    top:50px;
    position:absolute;
    z-index:2;
    text-align:left;
  }
  .download-button {
    background:url(../img/download-button.png) no-repeat;
    background-size:cover;
    display:block;
    height:103px;
    top:215px;
    width:400px;
    position:absolute;
    z-index:2;
    &:active {
      top:217px;
      -webkit-filter: brightness(90%); 
    }
  }
}

.mobile-carousel {
  height:400px;
  background:url(../img/teaser-mobile.gif) no-repeat center center #69ceae;
  position:relative;
  .mobile-menu {
    position:absolute;
    display:none;
    width:100%;
    ul {
      li {
        display:block;
        a {
          @extend .frame;
          display:block;
          position:relative;
          background:#c5c5c5;
          height:45px;
          color:#FFF;
          font-size:15px;
          font-weight:bold;
          line-height:45px;
          padding-left:36px;
          text-decoration:none;
          &.alt {
            background:#eaeaea;
          }
          strong {
            display:block;
            float:left;
          }
          span {
              display:block;
              float:left;
              margin:11px 10px 0 0;
          }
          &.about-us {
            span {
              @extend .i-menu-about;
            }
          }
          &.say-hello {
            span {
              @extend .i-menu-mail;
            }
          }
          &.follow-us {
            span {
              @extend .i-menu-twitter;
            }
          }
          &.like-us {
            span {
              @extend .i-menu-facebook;
            }
          }
          &:hover {
            background:$red;
            &.about-us {
              span {
                @extend .i-menu-about-active;
              }
            }
            &.say-hello {
              span {
                @extend .i-menu-mail-active;
              }
            }
            &.follow-us {
              span {
                @extend .i-menu-twitter-active;
              }
            }
            &.like-us {
              span {
                @extend .i-menu-facebook-active;
              }
            }
          }
        }
      }
    }
  }
}