// crew.scss

.crew {
	background:#F3F3F3;
	text-align:center;
	padding-bottom:30px;
	.person {
		background:#FFF;
		display:inline-block;
		margin:40px 50px;
		width:300px;
		.img {
			height:180px;
			width:inherit;
			position:relative;
			overflow: hidden;
			background:red;
		}
		.texts {
			text-align:center;
			padding:17px 25px 13px 25px;
			h3 {
				color:#504A50;
				font:bold 22px 'Proxima Nova';
				margin-bottom:5px;
				text-transform:uppercase;
			}
			span {
				color:$red3;
				display:block;
				font:bold 12px 'Benton Sans';
				margin-bottom:15px;
			}
			p {
				color:#A2A2A2;
				font:14px 'Proxima Nova';
				line-height: 19px;
			}
		}
		.socials {
			background:$red;
			height:30px;
			text-align: center;
			a {
				background-repeat:no-repeat;
				background-position:center center;
				display:inline-block;
				height:20px;
				margin:5px 4px 0 4px;
				opacity:0.3;
				width:20px;
				-webkit-filter: brightness(0%) contrast(100%);

				@each $social in twitter, linkedin, dribbble, github, mail {
					&.#{$social} {
						background-image:url(../img/social-#{$social}.png);
					}
				}

				&:hover {
					opacity:1;
					-webkit-filter:none;
				}
			}
		}
	}
}
