// crew.scss

.crew {
	background:#F3F3F3;
	text-align:center;
	padding-bottom:30px;
	aside {
		display:block;
		background:url(../img/crew-bg.jpg) no-repeat #FFF;
		height:210px;
		background-size:cover;	
		margin-bottom:-120px;	
		h2 {
			margin:0;
			padding:25px 0 0 0;
			font: {
				weight:bold;
				family:'Proxima Nova';
				size:75px;
			}
			color:#504A50;
		}
	}
	.person {
		background:#FFF;
		position:relative;
		overflow:hidden;
		display:inline-block;
		margin:40px 50px;
		width:300px;
		.img {
			height:180px;
			width:inherit;
			position:relative;
			overflow: hidden;
			background:red;
		}
		.texts {
			text-align:center;
			padding:17px 25px 17px 25px;
			h3 {
				color:#504A50;
				font:bold 22px 'Proxima Nova';
				margin-bottom:5px;
				text-transform:uppercase;
			}
			span {
				color:$red3;
				display:block;
				font:bold 12px 'Benton Sans';
				margin-bottom:15px;
			}
			p {
				color:#A2A2A2;
				font:14px 'Proxima Nova';
				font-weight:400;
				line-height: 19px;
				margin-bottom:30px;
			}
		}
		.socials {
			background:$red;
			height:30px;
			text-align: center;
			position:absolute;
			bottom:0;
			width:100%;
			z-index:100;
			a {
				background-repeat:no-repeat;
				background-position:center center;
				display:inline-block;
				height:20px;
				margin:5px 4px 0 4px;
				opacity:0.3;
				width:20px;
				-webkit-filter: brightness(0%) contrast(100%);

				@each $social in twitter, linkedin, dribbble, github, mail {
					&.#{$social} {
						background-image:url(../img/social-#{$social}.png);
					}
				}

				&:hover, &.active {
					opacity:1;
					-webkit-filter:none;
				}
			}
		}
		.contact-form {
			position:absolute;
			width:100%;
			height:340px;
			background:#FFF;
			z-index:50;
			top:0;
			left:0;
			transition: top 0.5s;
			&.hidden {
				top:400px;
			}
			.margin {
				padding:17px 20px;
				$grey-form-bg: #F3F3F3;
				input {
					@extend input.styled;
					width:100%;
					display:block;
					font-size:15px;
					margin:0;
					padding:8px 10px;
					background-color:$grey-form-bg;
					border-color:$grey-form-bg;
				}
				textarea {
					margin:18px 0;
					padding-top:6px;
					height:80px;
					font-size:15px;
					line-height:21px;
					background-color:$grey-form-bg;
					border-color:$grey-form-bg;
					&:focus {
						&::-webkit-input-placeholder {
							color:white;
						}
						transition: all .3s;
						background-color:$input-bg;
						border-color:$input-border;
					}
				}
				input.send {
					font:bold 15px 'Benton Sans';
					border:0;
					background:$red3;
					float:right;
					display:block;
					height:35px;
					line-height:35px;
					color:#FFF;
					width:100px;
					margin:0 0 0 15px;
					padding:0;
					&:hover {
						cursor:pointer;
					}
				}
			}
		}
	}
}
