input.styled {
	background:white;
	color:#444;
	display:block;
	margin:0;
	padding:15px 10px;
	border:3px solid white;
	font: {
		size:20px;
		weight:normal;
	}
	&:focus {
		&::-webkit-input-placeholder {
			color:white;
		}
		transition: all .3s;
		background-color:$input-bg;
		border-color:$input-border;
	}
}

.hello {
	background-color:$grey;
	.banner {
		background:url(../img/hello-bg.jpg) $red2;
		background-size:cover;
		color:#FFF;
		text-align:center;
		padding:28px 0 40px 0;
		position:relative;
		.mail {
			background:url(../img/hello-mail.png) no-repeat center center;
			height:52px;
			width:48px;
			margin:0 auto 9px auto;
		}
		.fold {
			background:url(../img/hello-fold.png) no-repeat center center;
			height:40px;
			position:absolute;
			right:0;
			top:0;
			width:40px;
		}
		h2 {
			display:block;
			font: {
				family:'Proxima Nova';
				size:58px;
				weight:bold;
			}
		}
		p {
			font: {
				family:'Benton Sans';
				size:28px;
				weight:300;
			}
			margin-top:15px;
		}
	}
	form {
		margin:30px auto 0 auto;
		padding-bottom:40px;
		position:relative;
		width:720px;
		input {
			@extend input.styled;
			width:47%;
			float:left;
			font-family:'Proxima Nova';
			font-weight:300;
			margin:0 0 30px 0;
			&:first-child {
				margin-right:6%;
			}
		}
		textarea {
			background:white;
			color:#444;
			height:140px;
			width:100%;
			font-family:'Proxima Nova';
			font-weight:300;
			display:block;
			margin:0 0 30px 0;
			padding:15px 10px;
			border:3px solid white;
			font: {
				size:20px;
				weight:normal;
			}
			&:focus {
				&::-webkit-input-placeholder {
					color:#cbc5c5;
				}
				transition: all .3s;
				border-color:#BBB;
			}
		}
		.last {
			height:50px;
			.counter {
				font:bold 20px 'Benton Sans';
				color:#A2A2A2;
				float:right;
				display:block;
				height:inherit;
				line-height:50px;
			}
			input.send {
				font:400 20px 'Benton Sans';
				border:0;
				background:$red3;
				float:right;
				display:block;
				height:inherit;
				color:#FFF;
				width:190px;
				margin:0 0 0 15px;
				padding:0;
				&:hover {
					cursor:pointer;
				}
			}
		}
	}
}