// quotes.scss

.quotes {
	margin:60px auto 45px auto;
	.container {
		width:1080px;
	}
	.stars {
		color:$red2;
		font-family: sans-serif;
		font-size: 20px;
		span:before {
			content: "\2605";
			position: absolute;
		}
		margin-bottom:7px;
	}
	.quote-title {
		background:url(../img/quotes.png) no-repeat;
		background-size:contain;
		min-height:170px;
	}
	.quote {
		background-color:#F4F4F4;
		color:#7B7B7B;
		font-size:17px;
		height:170px;
		line-height:23px;
		margin-bottom:20px;
		padding:15px 12px 15px 15px;
		position:relative;
		.fold {
			background:url(../img/fold.png) no-repeat;
			background-size:cover;
			height:60px;
			position: absolute;
			right:0;
			top:0;
			width:30px;
		}
		&.full {
		  height:360px;
		  p {
			margin-top:50px;
			}
		}
		> span {
			bottom:15px;
			color:#323232;
			font-size:13px;
			font-weight:400;
			position:absolute;
		}
		&.alt {
			background-color:#FC3A43;
			color:#FFF;
			p {
				font-size:26px;
				font-weight: bold;
				margin-top:15px;
			}
			> span {
				color:#FFF;
			}
			.stars {
				font-size: 28px;
				span:before {
					color:#9E121B;
				}
			}
		}
	}
}