// base.scss

html {
  height: 100%;
  background: #FFF;
  font-family: 'BentonSans', Helvetica, sans-serif;
  font-weight: 300;
}

body {
  height: 100%;
  background: #FFF;
  -webkit-font-smoothing: antialiased;
}

.container {
  width: 90%;
  max-width: 1080px;
  margin: 0px auto;
}

.hide {
  display:none;
}

.chromeframe {
  background:#000;
  color:white;
  a {
    color:white;
    text-decoration: underline
  }
  padding:50px;
  font-size:15px;
  margin-bottom:0
}

#wrap {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -160px;
}

#push {
  height: 160px;
}

footer {
  padding-top: 40px;
  height: 120px;
}

header {
  background: #FFF;
  padding: 25px 0;
  .top-menu {
    text-align: right;
    margin:18px 0 0 0;
    padding:0;
    li {
      display:inline-block;
      margin-right:50px;
      &:last-child {
        margin-right:0;
      }
      a {
        color:#323232;
        font:bold 25px 'Proxima Nova';
        text-decoration:none;
        &:hover {
          color:$pink;
        }
      }
    }
  }
}

.line {
  height:10px;
  background:$red;
  position:relative;
  .arrow {
    width: 0; 
    height: 0; 
    border-left: 13px solid transparent;
    border-right: 13px solid transparent;
    border-top: 13px solid $red;
    top:9px;
    left:50%;
    margin-left:-13px;
    position:absolute;
  }
}



footer {
  background: $red;
  .location {
    display:block;
    background:url(../img/icon-location.png) no-repeat top left;
    background-size: 41px 55px;
    padding:17px 0 0 55px;
    color: white;
    font-family: 'Open Sans';
    font-weight:300;
    font-size:40px;
    height:55px;
    margin-top:-2px;
  }
  .socials {
    text-align: right;
    a {
      background: #EEE;
      display: inline-block;
      margin-left: 30px;
      width: 46px;
      height: 46px;
      border-radius: 7px;
      background-size:cover;
      transition:.2s;
      &:hover {
        background-color:$red
      }
    }
  }
}

.logo {
  display: block;
  float: left;
  width: 220px;
  background: url(../img/logo@2x.png) no-repeat center center;
  background-size:cover;
  height: 60px;
}