.mobile-only, .tablet-mobile-only {
	display:none;
}

@media (max-width: 1100px) {
	.quotes {
		display:none;
	}
}

@media (max-width: 1000px) {
	header {
		.top-menu {
			margin-top:19px;
			li {
				margin-right:35px;
				a {
					font-size:22px;
				}
			}
		}
	}
	.carousel {
		h2 {
			font-size:40px;
			line-height:52px;
			top:30px;
		}
		.download-button {
			top:158px;
		}
	}
}

@media (max-width: 845px) {
	header {
		.top-menu {
			margin-top:20px;
			li {
				margin-right:29px;
				a {
					font-size:20px;
				}
			}
		}
	}
	.carousel {
		h2 {
			font-size:38px;
			line-height:48px;
			top:25px;
		}
		.download-button {
			top:140px;
		}
	}
}

@media (max-width: 767px) {
	.tablet-mobile-only {
		display:block;
	}
	.top-menu {
		display:none;
	}
	.carousel {
		display:none;
	}
	.hello {
		form {
			width:auto;
		}
	}
	footer {
		.bit-2 {
			width:100%;
		}
		.socials {
			display:none;
		}
	}
	.crew {
		aside {
			h2 {
				font-size:50px;
				padding-top:45px;
			}
		}
	}
}

@media (min-width:481px) {
	.mobile-menu {
		display:none !important;
	}
}

@media (max-width:480px) {
	.mobile-only, .tablet-mobile-only {
		display:block;
	}
	.mobile-hidden {
		display:none;
	}
	header {
		padding:0;
		height:90px;
		.logo {
			width:170px;
			height:45px;
			margin-top:11px;
		}
	}
	.carousel {
		display:none;
	}
	.features {
		.bit-4 {
			margin-bottom:20px;
		}
	}
	.crew {
		aside {
			h2 {
				font-size:30px;
				padding-top:35px;
			}
		}
		.person {
			margin:0 auto 30px auto;
			width:auto;
			overflow-x:hidden;
		}
	}
	.hello {
		.banner {
			background:$red3;
			.mail {
				display:none;
			}
			h2 {
				font-size:42px;
			}
			p {
				font-size:26px;
			}
		}
		form {
			width:auto;
			input {
				width:100%;
				margin:0 0 20px 0;
				float:none;
			}
			textarea {
				margin-bottom:20px;
			}
			.last {
				input.send {
					float:none;
					width:100%;
					margin:0;
				}
				.counter {
					display:none;
				}
			}
		}
	}
}