.mobile-only, .tablet-mobile-only {
	display:none;
}

@media (max-width: 1100px) {
	.quotes {
		display:none;
	}
}

@media (max-width: 767px) {
	.tablet-mobile-only {
		display:block;
	}
	.top-menu {
		display:none;
	}
	.carousel {
		display:none;
		h2 {
			font-size:43px;
			line-height:58px;
		}
	}
	.hello {
		form {
			width:auto;
		}
	}
	footer {
		.bit-2 {
			width:100%;
		}
		.socials {
			display:none;
		}
	}
	.crew {
		aside {
			h2 {
				font-size:50px;
				padding-top:45px;
			}
		}
	}
}

@media (max-width:480px) {
	.mobile-only, .tablet-mobile-only {
		display:block;
	}
	.mobile-hidden {
		display:none;
	}
	header {
		padding:0;
		height:90px;
		.logo {
			width:170px;
			height:45px;
			margin-top:11px;
		}
	}
	.carousel {
		display:none;
	}
	.features {
		.bit-4 {
			margin-bottom:20px;
		}
	}
	.crew {
		aside {
			h2 {
				font-size:30px;
				padding-top:35px;
			}
		}
		.person {
			margin:0 auto 30px auto;
			width:auto;
			overflow-x:hidden;
		}
	}
	.hello {
		form {
			width:auto;
			input {
				width:100%;
				margin:0 0 20px 0;
				float:none;
			}
		}
	}
}