@font-face {
  font-family: 'Benton Sans';
  src: url("fonts/BentonSans-Medium.eot");
  src: local("☺"), url("fonts/BentonSans-Medium.woff") format("woff"), url("fonts/BentonSans-Medium.ttf") format("truetype"), url("fonts/BentonSans-Medium.svg") format("svg");
  font-weight: normal;
  font-style: normal; }

.hide {
  display: none; }

html {
  height: 100%;
  background: #F1F1F1; }

body {
  height: 100%;
  background: #F1F1F1;
  font-family: 'Open Sans', Helvetica, sans-serif; }

.chromeframe {
  background: #eb5e4e;
  color: white;
  padding: 50px;
  font-size: 15px;
  margin-bottom: 0; }
  .chromeframe a {
    color: white;
    text-decoration: underline; }

#wrap {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -160px; }

#push {
  height: 160px; }

footer {
  padding-top: 40px;
  height: 120px; }

.topbar {
  background: #0d3555;
  height: 22px; }

header {
  background: #86d1cf;
  padding: 30px 0; }

.line {
  height: 10px;
  background: #eb5e4e;
  position: relative; }
  .line .arrow {
    width: 0;
    height: 0;
    border-left: 13px solid transparent;
    border-right: 13px solid transparent;
    border-top: 13px solid #eb5e4e;
    top: 9px;
    left: 50%;
    margin-left: -13px;
    position: absolute; }

.claim {
  font-family: 'Open Sans';
  font-size: 20px;
  line-height: 30px;
  color: #0d3555;
  -webkit-font-smoothing: antialiased; }
  .claim .last {
    color: #0d3555; }
    .claim .last a {
      color: #0d3555; }

.works .container {
  text-align: center;
  padding-top: 40px; }

.work {
  padding-bottom: 40px; }
  .work a {
    display: block;
    width: 155px;
    height: 155px;
    border: 4px solid #86d1cf;
    margin: 0 auto;
    border-radius: 155px;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: transparent;
    transition: .3s; }
    .work a.wrks {
      background-image: url(../img/icon-work@2x.png); }
    .work a.cv {
      background-image: url(../img/icon-cv@2x.png); }
    .work a.mail {
      background-image: url(../img/icon-mail@2x.png); }
    .work a:hover {
      background-color: #86d1cf;
      transition: .3s; }
  .work h3 {
    font-family: 'Benton Sans';
    font-size: 25px;
    margin: 15px 0 8px 0;
    color: #0d3555;
    letter-spacing: -1px;
    -webkit-font-smoothing: antialiased;
    font-weight: 300; }
  .work p {
    color: #7e7d76;
    font-size: 14px;
    line-height: 22px;
    padding: 0 25px; }

footer {
  background: #0d3555; }
  footer .location {
    display: block;
    background: url(../img/icon-location.png) no-repeat top left;
    background-size: 41px 55px;
    padding: 17px 0 0 55px;
    color: white;
    font-family: 'Open Sans';
    font-weight: 300;
    font-size: 40px;
    height: 55px;
    margin-top: -2px; }
  footer .socials {
    text-align: right; }
    footer .socials a {
      background: #EEE;
      display: inline-block;
      margin-left: 30px;
      width: 46px;
      height: 46px;
      border-radius: 7px;
      background-size: cover;
      transition: .2s; }
      footer .socials a:hover {
        background-color: #eb5e4e; }
      footer .socials a.twitter {
        background-image: url(../img/social-tw.png); }
      footer .socials a.facebook {
        background-image: url(../img/social-fb.png); }
      footer .socials a.instagram {
        background-image: url(../img/social-in.png); }
      footer .socials a.linkedin {
        background-image: url(../img/social-li.png); }
      footer .socials a.dribbble {
        background-image: url(../img/social-dr.png); }

.title i {
  display: block;
  float: left;
  width: 105px;
  background: url(../img/logo@2x.png) no-repeat center center;
  background-size: cover;
  height: 108px;
  border-radius: 15px;
  margin: 10px 20px 30px 0; }
.title div {
  padding-top: 10px; }

h1 {
  color: #0d3555;
  font-size: 45px;
  letter-spacing: -1px;
  white-space: nowrap;
  -webkit-font-smoothing: antialiased; }

h2 {
  color: white;
  opacity: 1;
  font-size: 31px;
  font-weight: 400; }

.line.fix {
  position: fixed;
  top: 0; }

@media (max-width: 767px) {
  .title i {
    float: none;
    margin: 10px auto 0 auto;
    width: 156px;
    height: 160px; }
  .title div {
    text-align: center;
    padding-top: 0;
    margin: 30px auto 30px auto; }

  .topbar {
    height: 15px; }

  footer .socials {
    text-align: center; }
    footer .socials a {
      display: inline-block;
      width: 40px;
      height: 40px;
      margin: 0 15px; }
    footer .socials a:first-child {
      margin-left: 0; }
    footer .socials a:last-child {
      margin-right: 0; } }
@media (min-width: 480px) {
  .footer-guy {
    display: none !important; } }
@media (max-width: 479px) {
  h1 {
    font-size: 35px; }

  h2 {
    font-size: 29px; }

  .claim p {
    font-size: 19px;
    font-family: 'Open Sans';
    line-height: 29px;
    text-align: justify; }

  footer {
    height: auto; }
    footer .socials {
      text-align: center;
      margin-bottom: 30px; }
      footer .socials a {
        width: 35px;
        height: 35px;
        margin: 0 8px; }

  .work h3 {
    font-size: 28px; }
  .work p {
    font-size: 16px;
    line-height: 24px; }

  #wrap {
    margin-bottom: 0 !important; }

  #push {
    display: none; }

  .footer-guy img {
    width: 95%;
    margin: 0 auto 0 auto;
    display: block; } }
