// base.scss

$footer-height: 80px;

::selection {
	background-color: $pink;
	color: #FFF;
}

html {
	background: #FFF;
	font-family: 'BentonSans', Helvetica, sans-serif;
	font-weight: 300;
	height: 100%;
}

body {
	background: #FFF;
	height: 100%;
	-webkit-font-smoothing: antialiased;
	overflow-x:hidden;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

.container {
	margin: 0px auto;
	max-width: 1080px;
	width: 90%;
}

.hide {
	display:none;
}

.chromeframe {
	background:#000;
	color:#FFF;
	font-size:15px;
	margin-bottom:0;
	padding:50px;
	a {
		color:#FFF;
		text-decoration: underline
	}
}

#wrap {
	height: auto !important;
	height: 100%;
	margin: 0 auto;
	min-height: 100%;
}

header {
	background: #FFF;
	padding: 25px 0;
	.top-menu {
		text-align: right;
		margin:18px 0 0 0;
		padding:0;
		li {
			display:inline-block;
			margin-right:50px;
			&:last-child {
				margin-right:0;
			}
			a {
				color:#323232;
				font:bold 25px 'Proxima Nova';
				text-decoration:none;
				&:hover {
					color:$pink;
				}
			}
		}
	}
}

.line {
	background:$red;
	height:10px;
	position:relative;
	.arrow {
		border-left: 13px solid transparent;
		border-right: 13px solid transparent;
		border-top: 13px solid $red;
		height:0;
		left:50%;
		margin-left:-13px;
		position:absolute;
		top:9px;
		width:0;
	}
}

.logo {
	background: url(../img/logo@2x.png) no-repeat center center;
	background-size:cover;
	display: block;
	float: left;
	height: 60px;
width: 220px;
}

footer {
	background: $red;
	color:$pink;
	height:$footer-height;
	.copy {
		h3 {
			font:bold 28px 'Proxima Nova';
			margin-top:1px;
		}
		p {
			font-size:14px;
			font-weight:400;
			margin-top:2px;
		}
		&:hover {
			cursor:default;
		}
	}
	.socials {
		text-align: right;
		a {
			background-repeat:no-repeat;
			background-position:center right;
			color:#FFF;
			display: inline-block;
			font:bold 16px 'Proxima Nova';
			line-height:28px;
			height:28px;
			margin:12px 0 0 25px;
			opacity:0.3;
			padding-right:35px;
			text-decoration: none;
			&.facebook {
				background-image:url(../img/footer-facebook.png);
			}
			&.twitter {
				background-image:url(../img/footer-twitter.png);
			}
			&:hover {
				opacity:1.0;
				-webkit-filter:none;
			}
		}
	}
}

input.styled {
	background:white;
	color:#444;
	display:block;
	margin:0;
	padding:15px 10px;
	border:3px solid white;
	font: {
		size:20px;
		family:'Proxima Nova';
		weight:300;
	}
	&:focus {
		&::-webkit-input-placeholder {
			color:white;
		}
		transition: all .3s;
		background-color:$input-bg;
		border-color:$input-border;
	}
}

textarea {
	background:white;
	color:#444;
	height:140px;
	width:100%;
	display:block;
	font: {
		family: 'Proxima Nova';
		size:20px;
		weight:300;
	}
	padding:15px 10px;
	border:3px solid white;
	&:focus {
		&::-webkit-input-placeholder {
			color:#cbc5c5;
		}
		transition: all .3s;
		border-color:#BBB;
	}
}